.view {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

.pheader {
    margin: 100px;
    font-family: 'Bungee Hairline';
    font-weight: 600;
    border-bottom: 2px black solid;
    display: inline-block;
}

.box {
    width: 80%;
    margin-left:100px;
    display: flex;
}

.boxone{
    width: 40%;
    margin-left: 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.boxtwo {
    width: 40%;
    margin-left: 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.expbox {
    font-family: 'Bubbler One', sans-serif;
    margin-right: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
    align-content: center;
    block-size: 200px;
    padding-right: 20px;
    display: inline-block;
}

.expbox img {
    max-width: 200px;
    max-height: 100px;
}

.expbox p {
   text-align: center;
   max-width: 200px;
   font-size: 10px;
}
