.view {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

.pheader {
    margin: 100px;
    font-family: 'Bungee Hairline';
    font-weight: 600;
    border-bottom: 2px black solid;
    display: inline-block;
}

.box {
    width: 80%;
    margin-left:150px;
    display: flex;
}

.projbox {
    font-family: 'Bubbler One', sans-serif;
    margin-right: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
    flex-grow: 2;
    align-content: center;
    block-size: 250px;
    display: inline-block;
}

.projbox img {
    max-width: 250px;
    max-height: 120px;
}

.projbox p {
   text-align: center;
   max-width: 200px;
}
